/*font*/
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;800&display=swap');
*{
    padding: 0;
    margin: 0;
}
body{
    background: #f1f1f2;
}
/*Page layout*/
main{
    display: flex;
    justify-content: center;
    flex-flow: row wrap;
}
/*header style*/
nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: #fbfbfd;
    box-shadow: 0 5px 15px 0 #cdcdcd;
    margin-bottom: 20px;
}
.navigation__logo{
    height: 40px;
    margin: 15px;
}
.navigation__login{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.navigation__text{
    font-family: 'Poppins-bold', sans-serif;
    font-size: 17px;
    color: #878683;
    margin: 20px;
}
.navigation_button{
    margin: 10px 20px 10px 0;
    padding: 10px 25px 10px 25px;
    font-family: 'Poppins-extra-bold', sans-serif;
    font-size: 18px;
    border: 2px solid #61aef6;
    border-radius: 10px;
    background: #fbfbfd;
    font-weight: 550;
}

/*profile style*/
.profile{
    height: 330px;
    width: 800px;
    background: #fbfbfd;
    display: flex;
    justify-content: space-evenly;
    border-radius: 5px;
    margin: 10px;
    box-shadow: 0 0 15px 0 #cdcdcd;
}
.profile div{
    height: 330px;
    display: flex;
}
.profile__images{
    justify-content: space-evenly;
    align-items: center;
    flex-direction: column;
}
.profile__images--picture{
    border: 12px solid rgba(97, 174, 246, 0.2);
    border-radius: 50%;
    height: 125px;
    width: 125px;
    margin: 10px;
}
.images__socialmedia{
    height: 40px;
}
.images__socialMedia img{
    height: 30px;
    padding: 5px;
}
.images__socialMedia a{
    height: 40px;
}
.profile__information{
    flex-direction: column;
}
.profile__information--name{
    font-family: 'Poppins-extra-bold', sans-serif;
    font-size: 22px;
    padding: 20px 10px 10px 10px;
}
.profile__information--description{
    font-family: 'Poppins', sans-serif;
    font-size: 14px;
    padding: 10px;
    overflow-y: hidden;
}
.profile__images--button{
    margin: 20px;
    padding: 10px 30px 10px 30px;
    font-family: 'Poppins-extra-bold', sans-serif;
    font-size: 18px;
    border: 3px solid #61aef6;
    border-radius: 10px;
    background: #fbfbfd;
    font-weight: 550;
}
/*Gallary style*/
.gallery__title{
    font-family: 'Poppins-extra-bold', sans-serif;
    font-size: 20px;
    font-weight: 500;
    padding: 15px 15px 5px 20px;
}
.gallery{
    width: 800px;
    background: #fbfbfd;
    display: flex;
    flex-direction: column;
    border-radius: 5px;
    margin: 10px;
    box-shadow: 0 0 15px 0 #cdcdcd;
}

.gallery__container{
    display: flex;
    flex-flow: row wrap;
    padding: 5px 15px 15px 15px;
}
.gallery__item{
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 8px;
    height: 135px;
    display: flex;
    margin: 5px;
    justify-content: center;
    align-items: center;
}
.gallery__item--skinny{
    width: 100px;
    background-image: url("./assets/gallery/pexels-mathilde-langevin-7089740.jpg");
}
.gallery__item--medium{
    width: 150px;
    background-image: url("./assets/gallery/pexels-mathilde-langevin-7354367.jpg");
}
.gallery__item--wide{
    width: 200px;
    background-image: url("./assets/gallery/pexels-mathilde-langevin-7574937.jpg");
}
/*Reviews*/
.review{
    width: 800px;
    background: #fbfbfd;
    display: flex;
    flex-flow: column wrap;
    border-radius: 5px;
    margin: 10px;
    box-shadow: 0 0 15px 0 #cdcdcd;
}

.review__profile{
    border: 8px solid rgba(97, 174, 246, 0.2);
    border-radius: 50%;
    height: 90px;
    width: 90px;
    padding: 0;
    margin: 10px 20px 10px 10px;
}
.review__user{
    display: flex;
    padding: 20px;
}
.review__text{
    display: flex;
}
.review__title{
    margin: 10px 0 5px 30px;
    font-family: 'Poppins', sans-serif;
}
.review__head{
    width: 100%;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    font-family: 'Poppins', sans-serif;
}
.review__head--entry{
    color: #b4b4b4;
    margin: 0 10px 5px 10px;
}
.review__pageSelector{
    display: flex;
    justify-content: center;
}
.pageSelector__item{
    padding: 10px;
    font-family: 'Poppins', sans-serif;
    font-size: 18px;
}
.review__entry{
    display: flex;
    flex-flow: row wrap;
    justify-content: flex-end;
    font-family: 'Poppins', sans-serif;
    padding: 15px;
}
.review__name{
    font-family: 'Poppins', sans-serif;
    font-size: 20px;
}
.review__rating{
    display: flex;
}
.stars{
    height: 25px;
    width: 25px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}
.stars__full{
    background-image: url("./assets/Path@2x.png");
}
.stars__empty{
    background-image: url("./assets/Path Copy 3_3@3x.png");
}
.review__field{
    height: 330px;
    width: 760px;
    border: 3px solid #a5a5a5;
    border-radius: 20px;
    font-family: 'Poppins', sans-serif;
    font-size: 18px;
    color: #a5a5a5;
}
.review__field p {
    padding: 5px;

}
.review__post{
    margin: 10px 0 0 0;
    height: 40px;
    width: 140px;
    font-family: 'Poppins', sans-serif;
    font-size: 18px;
    border: 2px solid #e7e7e7;
    color: #b3b3b3;
    border-radius: 10px;
    background: #e7e7e7;
    font-weight: 400;
}
/*portrait style*/
.portrait{
    height: 100px;
    width: 350px;
    background: #fbfbfd;
    display: flex;
    align-items: center;
    border-radius: 5px;
    margin: 10px;
    box-shadow: 0 0 15px 0 #cdcdcd;
}
.portrait__image{
    margin: 5px;
    background-image: url("./assets/portrait.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 65px;
    height: 65px;
}
.portrait__text{
    margin: 5px;
    width: 70%;
    font-family: 'Poppins', sans-serif;
    font-size: 16px;
    font-weight: 500;
}

/*Sidebar style*/
.sidebar{
    width: 350px;
    background: #fbfbfd;
    display: flex;
    flex-flow: column;
    justify-content: flex-start;
    align-items: center;
    border-radius: 5px;
    margin: 10px;
    box-shadow: 0 0 15px 0 #cdcdcd;
}
.services__box{
    display: flex;
    padding: 0;
    height: 110px;
    width: 300px;
    border-radius: 15px;
    border: 2px solid #cdcdcd;
    margin: 20px 20px 0 20px;
}
.sidebar__timePrice{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 25%;
    border-radius: 10px 0 0 10px;
    border-right: 2px solid #a5a5a5;
    background: #cecccc;
    font-family: 'Poppins', sans-serif;
    font-size: 15px;
}
.sidebar__ball{
    display: flex;
    flex-flow: column;
    align-items: center;
    justify-content: center;
    height: 55px;
    width: 55px;
    border-radius: 50%;
    color: white;
}
.sidebar__ball--yellow{
    background: #d9ab05;
}
.sidebar__ball--blue{
    background: #28bdbd;
}
.sidebar__ball--purple{
    background: #a228bf;
}
.timePrice__time{
    font-weight: 600;
}
.timePrice__price{
    margin: 7px 0 0 0;
    font-weight: 500;
}
.sidebar__description{
    padding: 4px;
    width: 73%;
    font-family: 'Poppins', sans-serif;
}
.sidebar__selector{
    margin: 3px;
    height: 15px;
    width: 15px;
    border-radius: 50%;
    border: 2px solid #8e8e8e;
    background: #ffffff;
}
.description__title{
    font-size: 14px;
}
.description__text{
    font-size: 13px;
    color: #cecece;
}
.services__button{
    margin: 15px 0 10px 0;
    height: 40px;
    width: 300px;
    font-family: 'Poppins', sans-serif;
    font-size: 16px;
    color: white;
    border: 2px solid #0baad6;
    border-radius: 10px;
    background: #0baad6;
    font-weight: 300;
}
.services__title{
    font-family: 'Poppins', sans-serif;
    font-size: 20px;
    margin: 10px 0 0 20px;
}


/*min:830px max:1190px*/
@media screen and (max-width:1191px) {
    .sidebar{
        width: 800px;
    }
    .sidebar__services{
        display: flex;
        width: 780px;
        flex-flow: row wrap;
        justify-content: center;
    }
    .services__title{
        width: 100%;
        text-align: center;
    }
    .portrait{
        width: 800px;
        justify-content: center;
    }
    .portrait__text{
        width: 200px;
    }
}
@media screen and (max-width:820px) {
    .gallery{
        margin: 10px 0 10px 0;
        width: 100%;
    }
    .gallery__container{
        justify-content: center;
        margin: 10px 0 10px 0;
        padding: 0;
        width: 100%;
    }
    .profile{
        margin: 10px 0 10px 0;
        width: 100%;
        text-overflow: ellipsis;
    }
    .review{
        margin: 10px 0 10px 0;
        width: 100%;
    }
    .portrait{
        margin: 10px 0 10px 0;
        width: 100%;
    }
    .sidebar{
        margin: 10px 0 10px 0;
        width: 100%;
    }
    .sidebar__services{
        margin: 10px 0 10px 0;
        width: 100%;
    }
    .review__field{
        width: 100%;
        padding: 10px;
    }

}
@media screen and (max-width: 736px)  {
    .review__field{
        height: 200px;
    }
    .review__name{
        font-size: 18px;
        margin: 5px;
    }
    .review__profile{
        height: 60px;
        width: 60px;
    }
    .profile__images--picture{
        height: 90px;
        width: 90px;
    }
    .review__rating{
        align-items: center;
    }
    .stars{
        height: 20px;
        width: 20px;
    }

}